@media only screen and (max-width: 1500px) {
  #projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px; /* space between columns, change as needed */
    grid-row-gap: 20px;
  }
}

@media only screen and (max-width: 1200px) {
  #projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px; /* space between columns, change as needed */
    grid-row-gap: 20px;
  }
}

@media only screen and (max-width: 900px) {
  #projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px; /* space between columns, change as needed */
    grid-row-gap: 20px;
  }
}

@media only screen and (max-width: 700px) {
  .photos {
    margin-left: 30%;
  }
}

@media only screen and (max-width: 650px) {
  .photos {
    margin-left: 25%;
  }
}

@media only screen and (max-width: 550px) {
  #projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 20px; /* space between columns, change as needed */
    grid-row-gap: 20px;
  }
  .photos {
    margin-left: 18%;
  }
}
