@import url("https://fonts.googleapis.com/css2?family=Anek+Devanagari&family=Bitter:ital,wght@1,300&family=Noto+Sans+JP:wght@300&family=Playfair+Display&display=swap");

body {
  margin: 20px;
  background-image: url("../img/design/webpageBG.jpg");
  background-color: #7577ff;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h1,
h2,
h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  font-family: "Playfair Display", serif;
  clear: both;
}

p {
  font-family: "Noto Sans JP", sans-serif;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
}

nav {
  margin: auto;
  width: 55%;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  background-image: url("../img/design/headerBG.png");
  border-radius: 5px;
  font-family: "Anek Devanagari", sans-serif;
}
nav > h1 {
  text-shadow: 0 4px 6px #858282, 0 4px 7px #cccaca;
  color: white;
}

footer {
  margin-bottom: 0;
  position: sticky;
  clear: "both";
}
footer ul {
  display: "flex";
  justify-content: "center";
  list-style-type: "none";
}
footer li {
  margin: 15px;
}

.info {
  margin: auto;
  max-width: 1100px;
}

.card {
  clear: both;
  box-shadow: inset 0 -6em 4em rgba(0, 0, 0, 0.068),
    1.3em 2.3em 1em rgba(0, 0, 0, 0.158);
}

.margin-top {
  margin-top: 50%;
}

.project {
  border-style: groove;
  border-color: rgba(70, 180, 255, 0.5);
  background-color: rgba(75, 187, 202, 0.295);
  border-radius: 15px;
  margin: 15px;
  margin-left: auto;
  padding: 15px;
}
.project img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  width: 220px;
  height: 220px;
}

.footer-icon {
  border-radius: 100%;
  width: 80px;
  height: 80px;
  mix-blend-mode: multiply;
}

.grow {
  transition: transform 0.75s ease;
}
.grow:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.6;
}

.italic {
  font-family: "bitter";
}

.float-right {
  float: right;
}

.myinfo {
  text-decoration: none;
}

.photos {
  margin: 1.5%;
  border-radius: 50%;
  width: 295px;
}

.nav-item {
  border-radius: 11% 11% 0 0;
  transition: all 1s ease;
}
.nav-item:hover {
  border-radius: 14% 14% 0 0;
  background-image: url("../img/design/headerBG.png");
  background-color: rgba(76, 191, 199, 0.918);
}

#copyright {
  float: right;
  font-family: "bitter";
  font-style: italic;
  text-align: center;
}

#images {
  display: flex;

  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

#name {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-left: 10px;
  font-size: 190%;
}

#giticon {
  margin: 0;
  mix-blend-mode: multiply;
  width: 15%;
  height: 15%;
}

#self {
  display: block;
  border-style: outset;
  border-color: rgba(70, 180, 255, 0.5);
  margin: auto;
  border-radius: 5%;
  width: 300px;
}

#resume {
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: arial, sans-serif;
  font-style: italic;
  text-decoration: none;
  transition: all 0.9s;
  color: blue;
}
#resume:hover {
  color: rgb(158, 159, 255);
  background-color: rgb(44, 8, 247);
}
#resume-text {
  font-family: "bitter";
  font-size: medium;
}

#contact {
  min-height: 70vh;
}

#projects {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
#projects > div {
  width: 100%;
}
#projects > a {
  text-decoration: none;
}
